.uppercase{
    text-transform: uppercase;
}
p{
    text-indent: 1rem;
}
img{
    max-width: 50%;
}
em{
    font-style: italic;
}
q{
    font-style: italic;
}
i{
    font-style: italic;
}
blockquote{
    font-style: italic;
}