.uppercase{
    text-transform: uppercase;
}
p{
    text-indent: 2.5%;
}
img{
    max-width: 25%;
}
em{
    font-style: italic;
}
q{
    font-style: italic;
}
i{
    font-style: italic;
}
blockquote{
    font-style: italic;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
body{
    margin-left: 10%;
    margin-right: 10%;
}